<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My Data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
	$.getJSON('http://217.160.191.228:8090/weather/getLastValues/2880/5CCF7FB970FB', function(jsonData) {
		
		var labels = jsonData.map(function(e) {
			return new Date(e.timestamp).toLocaleString('de-DE');
		})
		
		var tempValues = jsonData.map(function(e) {
			return e.temperature;
		})

		var humidityValues = jsonData.map(function(e) {
			return e.humidity;
		})

		
		const tempData = {
			labels : labels,
			datasets : [ {
				label : 'Temperature',
				backgroundColor : 'rgb(255, 99, 132)',
				borderColor : 'rgb(255, 99, 132)',
				data : tempValues
			}]};
		
		const humData = {
				labels : labels,
				datasets : [ {
					label : 'Humidity',
					backgroundColor : 'rgb(0, 0, 255)',
					borderColor : 'rgb(0, 0, 255)',
					data : humidityValues
				}]};

		const tempConfig = {
			type : 'line',
			data : tempData,
			options : {
				maintainAspectRatio: false
			}
		};
		const humConfig = {
				type : 'line',
				data : humData,
				options : {
					maintainAspectRatio: false
				}
			};
		const TempChart = new Chart(document.getElementById('TempChart'), tempConfig);
		const HumChart = new Chart(document.getElementById('HumChart'), humConfig);

	});
    </script>
  </head>
  <body>
	<div style="height:40vh; width:100%">
		<canvas id="TempChart"></canvas>
	</div>
	<div style="height:10vh"><br/></div>
	<div style="height:40vh; width:100%">
		<canvas id="HumChart"></canvas>
	</div>
  </body>
</html>